pkgbase = chatgpt-desktop-bin
	pkgdesc = Official ChatGPT desktop app for Linux
	pkgver = 26.908.40401
	pkgrel = 1
	url = https://developers.openai.com/codex/app
	arch = x86_64
	license = custom
	depends = alsa-lib
	depends = at-spi2-core
	depends = cairo
	depends = dbus
	depends = expat
	depends = gcc-libs
	depends = gdk-pixbuf2
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libcups
	depends = libdrm
	depends = libnotify
	depends = libusb
	depends = libx11
	depends = libxcb
	depends = libxcomposite
	depends = libxdamage
	depends = libxext
	depends = libxfixes
	depends = libxkbcommon
	depends = libxrandr
	depends = mesa
	depends = nspr
	depends = nss
	depends = openssl
	depends = pango
	depends = systemd-libs
	depends = xdg-utils
	depends = xz
	optdepends = apparmor: load the bundled ChatGPT AppArmor profile
	optdepends = git: Git repository integration
	optdepends = libpulse: PulseAudio support
	provides = chatgpt
	conflicts = chatgpt
	options = !strip
	source = chatgpt_26.908.40401_amd64.deb::https://persistent.oaistatic.com/codex-app-prod/linux/deb/pool/main/c/chatgpt/chatgpt_26.908.40401_amd64.deb
	source = chatgpt-wrapper.sh
	sha256sums = 7c089bda20728723e7ad16b7295198ddce14afd53e03f8a48f6735449f48cd03
	sha256sums = 68a4fa17d496fc8fb1941e646a8599a039d96a46dcb69a8267c12a053f11e646

pkgname = chatgpt-desktop-bin
